# Stack Services
services:
  # Minecraft Server Instance
  mc:
    container_name: ${SERVER_NAME:?error}_minecraft
    image: itzg/minecraft-server:${SERVER_IMAGE:-stable}
    restart: unless-stopped
    ports:
      - ${SERVER_PORT}0:${SERVER_PORT}0
      - ${SERVER_PORT}1:${SERVER_PORT}1
    environment:
      # Eula, must be True
      EULA: "TRUE"
      
      # Generic Server Settings
      TYPE: ${SERVER_TYPE:?error}
      DIFFICULTY: ${DIFFICULTY:-HARD}
      MOTD: "${CUSTOM_MESSAGE:-Hosted on FoxServers Platform}"
      LEVEL_TYPE: "${LEVEL_TYPE:-default}"
      MAX_PLAYERS: ${MAX_PLAYERS:-50}
      MAX_BUILD_HEIGHT: ${MAX_BUILD_HEIGHT}
      MODE: "${GAMEMODE:-survival}"
      FORCE_GAMEMODE: "${FORCE_GAMEMODE:-true}"
      SEED: ${SEED}

      # FoxServers Recommended Settings
      MEMORY: ${DEFAULT_MEM:-4G}
      VIEW_DISTANCE: ${VIEW_DISTANCE:-16}

      # Autopause Settings
      ENABLE_AUTOPAUSE: ${AUTO_PAUSE:-False}

      # Whitelist Settings - Defaults for FoxServer Whitelist Manager: Edit with care
      ENABLE_WHITELIST: "TRUE"
      ENFORCE_WHITELIST: "TRUE"
      OVERRIDE_SERVER_PROPERTIES: "TRUE"
      
      # Modding Settings
      VERSION: ${MC_VERSION:?error}
      FORGE_VERSION: ${FORGE_VERSION}
      FABRIC_LAUNCHER_VERSION: ${FABRIC_LAUNCHER_VERSION}
      FABRIC_LOADER_VERSION: ${FABRIC_LOADER_VERSION}
      GENERIC_PACK: ${MODPACK_ZIP}

      # Other
      ALLOW_FLIGHT: "${ALLOW_FLIGHT:-TRUE}"
      USE_AIKAR_FLAGS: "true"
      LOG_TIMESTAMP: "true"
      SNOOPER_ENABLED: "false"
      SPAWN_PROTECTION: "SPAWN_PROTECTION:-0"
      TZ: "${TIMEZONE:-America/New_York}"
      STOP_SERVER_ANNOUNCE_DELAY: 10
      DEBUG: "false"

      # Commands - Defaults ensure whitelist is accurate and add QOL features, edit with care
      RCON_CMDS_STARTUP: |-
        /whitelist reload
        /gamerule disableElytraMovementCheck true
        /gamerule doLimitedCrafting false
        /gamerule spectatorsGenerateChunks false
        /gamerule playersSleepingPercentage 50
        /gamerule recipesUnlock false

      RCON_CMDS_FIRST_CONNECT: |-
        /whitelist reload
      
      RCON_CMDS_LAST_DISCONNECT: |-
        /whitelist reload

      # RCON - Used for FoxServers Core Manager: Do not edit
      ENABLE_RCON: "true"
      RCON_PASSWORD: ${RCON_PASSWORD}
      RCON_PORT: ${SERVER_PORT}1

      # FoxServers Default Settings - Do not change
      SERVER_PORT: ${SERVER_PORT}0
      CONSOLE: "false"
      GUI: "false"
      TUNE_VIRTUALIZED: "true"
      EXEC_DIRECTLY: "false"

    volumes:
      - /srv/foxservers/${SERVER_NAME}:/data

volumes: 
  data: